$feedback-card-size: 20em;

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #f7f7f7;
  color: #333;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.3;
}

.null {
  text-align: center;
  font-weight: bold;
}

.header {
  @include clearfix;
  color: #999;
  padding: 0 0 1em;
}

.header__brand {
  float: left;
}

.header__session {
  float: right;
}

.feedback-card__wrapper {
  left: 50%;
  position: absolute;
  top: 30%;
  transform: translate3d(-50%, 0, 0);
  width: $feedback-card-size;
}

.feedback-card {
  transition: all 0.2s ease-in-out;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  transform-origin: 50% 0;
  width: $feedback-card-size;

  &:nth-child(1) {
    z-index: 5;
  }

  @for $i from 2 through 5 {
    &:nth-child(#{$i}){
      $modifier: $i - 1;
      top: -($modifier * 0.5em);
      transform: scale(1 - ($modifier * 0.05));
      z-index: 6 - $i;
    }
  }
}

.feedback-card__image {
  display: block;
  max-height: 100%;
  max-width: 100%;
}

.feedback-card__name {
  background-image: linear-gradient(to bottom, rgba(black, 0), rgba(black, 0.8));
  bottom: 0;
  color: white;
  left: 0;
  padding: 0.5em 0;
  position: absolute;
  right: 0;
  text-align: center;
  margin: 0;
}

.feedback-actions {
  margin-top: $feedback-card-size + 2em;
}

.feedback-action {
  $size: 5em;
  border-radius: $size / 2;
  border: 2px solid;
  cursor: pointer;
  font-weight: bold;
  line-height: $size;
  margin: 2em;
  text-align: center;
  width: $size;
}

.feedback-action_positive {
  $color: green;
  background-color: rgba($color, 0.2);
  color: $color;
  float: right;
}

.feedback-action_negative {
  $color: red;
  background-color: rgba($color, 0.2);
  color: $color;
  float: left;
}

// Animations
.feedback-enter {
  opacity: 0.01;
  transition: opacity 0.2s linear;
}

.feedback-enter.feedback-enter-active {
  opacity: 1;
}

.feedback-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s ease-in-out;
}

.feedback-leave.feedback-leave-active {
  opacity: 0.01;

  .feedback-response_positive & {
    transform: translate3d(100%, 0, 0);
  }

  .feedback-response_negative & {
    transform: translate3d(-100%, 0, 0);
  }
}
