.avatar {

}

.avatar__image {
  max-width: $avatar-size;
  max-height: $avatar-size;
  border-radius: $border-radius;
  overflow: hidden;

  img {
    display: block;
  }
}

.avatar__body {
  line-height: $avatar-size;
}
