.background {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  left: 0;
  right: 0;
  z-index: -1;

  .show-sidebar & {
    padding-right: $sidebar-width;
  }
}

.background__result {
  height: 100vh;
  position: relative;

  &:nth-child(even) {
    background-color: $color-gray-lighter;
  }
}

.background-labels {
  height: 2em;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
  z-index: 9;
}

.background-labels__result {
  position: relative;
  background-image: linear-gradient(to bottom, rgba(white, 0), rgba(white, 0.9));

  &:nth-child(even) {
    background-image: linear-gradient(to bottom, rgba($color-gray-lighter, 0), rgba($color-gray-lighter, 0.9));
  }
}

.background-labels__label {
  position: absolute;
  margin: 0;
  color: $color-gray-dark;
  text-align: center;
  width: 100%;
  line-height: 2;
  font-weight: bold;
}
