* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color: $color-gray-darker;
  font-family: "work sans", "helvetica neue", helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.3;
  background-color: $color-gray-lighter;
  // background-image: linear-gradient(-45deg, $color-brand, #25ccc9);
}

a {
  cursor: pointer;
  color: $color-brand;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0 0 1em;
  padding: 0;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.02em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
}

p {
  margin: 0 0 1em;
}

.block-link {
  display: block;
  width: $brand-size;
  height: $brand-size;
  background-color: $color-gray-light;
  color: $color-gray-dark;
  position: absolute;
  font-weight: bold;
  line-height: $brand-size;
  text-align: center;
  border-radius: 3px;
  fill: $color-gray-dark;

  &:hover {
    background-color: $color-brand;
    color: white;
    fill: white;
    text-decoration: none;
  }
}
