.feedback-result {
  position: relative;
  float: left;
}

.feedback-result__outer,
.feedback-result__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.feedback-result__outer {
  background-color: rgba($color-gray-mid, 0.2);
  // box-shadow: inset 0 0 0 3px rgba($color-gray-mid, 0.2);
}

.feedback-result__inner {
  background-color: $color-positive;
}
