.header {
  @include clearfix;
  padding: 0 0 1em;
  position: relative;
  display: flex;
}

.header__brand {
  @include uppercase;
  display: block;
  line-height: $header-height;
  width: 10.5em;
}

.header__search {
  flex: 1;
  position: relative;
  margin: 0 4em 0 0;
}

.header__session {
  @include hover-overlay;
  display: block;
  width: $header-height;
  height: $header-height;
  border-radius: $border-radius;
  overflow: hidden;

  img {
    max-width: 100%;
    max-height: 100%;
    display: block;
  }
}

.header__session__menu {
  top: 0;
  right: 0;
}

.header__add-user {
  width: $header-height;
  margin-left: 0.5em;
  position: relative;

  .menu {
    top: 0;
    left: auto;
    right: 0;
  }
}
