.header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.header__brand {
  display: block;
  width: $brand-size;
  height: $brand-size;
  background-color: $color-gray-light;
  color: $color-gray-mid;
  position: absolute;
  left: $header-padding;
  top: $header-padding;
  font-weight: bold;
  line-height: $brand-size;
  text-align: center;
  border-radius: 3px;

  &:hover {
    background-color: $color-brand;
    color: white;
    text-decoration: none;
  }
}

.header__session {
  position: absolute;
  left: $header-padding;
  bottom: $header-padding;
}
