$card-size: 20em;

$color-brand: #4683eb;
$color-brand-light: lighten($color-brand, 15%);
$color-brand-lighter: lighten($color-brand, 35%);

$color-gray-darker: #47525d;
$color-gray-dark: #7b8994;
$color-gray: mix(white, $color-gray-dark, 60%); //#d0d5d8;
$color-gray-light: #efeff2;
$color-gray-lighter: #fafafb;

$color-placeholder: $color-gray-dark;

$color-positive: #3db36a;
$color-negative: #ed1552;

$narrow-width: 28em;
$header-height: 3em;
$padding: 2em;
$border-radius: 5px;
$avatar-size: 1.5em;


@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin uppercase {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

@mixin hover-overlay {
  cursor: pointer;

  &:hover::after {
    content: "";
    color: white;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    line-height: $card-size / 3;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba($color-brand, 0.8);
    z-index: 1;
    border-radius: $border-radius;
  }
}
