$card-size: 20em;

$color-brand: #4683eb;
$color-brand-mid: lighten($color-brand, 15%);
$color-brand-light: lighten($color-brand, 35%);

$color-gray-dark: #47525d;
$color-gray-mid: #7b8994;
$color-gray-light: #f5f5f7;
$color-gray-lightest: #fafafb;

$color-positive: #3db36a;
$color-negative: #ed1552;

$sidebar-border-color: darken($color-gray-light, 5%);

$header-width: 4em;
$brand-size: 3em;
$header-padding: ($header-width - $brand-size) / 2;

$details-width: 9em;
$sidebar-width: 24em;

$border-radius: 5px;


@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}
