$card-size: 20em;

$color-brand: #4683eb;
$color-brand-mid: lighten($color-brand, 15%);
$color-brand-light: lighten($color-brand, 35%);

$color-gray-dark: #47525d;
$color-gray-mid: #7b8994;
$color-gray-light: #f5f5f7;
$color-gray-lightest: #fafafb;

$color-positive: #3db36a;
$color-negative: #ed1552;

$sidebar-border-color: darken($color-gray-light, 5%);

$header-width: 4.5em;
$brand-size: 2.5em;
$header-padding: ($header-width - $brand-size) / 2;

$details-width: 9em;
$sidebar-width: 21em;

$border-radius: 5px;


@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin hover-overlay {
  &:hover::after {
    content: "";
    color: white;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    line-height: $card-size / 3;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba($color-brand, 0.8);
    z-index: 1;
    border-radius: $border-radius;
  }
}
