.container {

  &_narrow {
    padding: 0 2em;
    margin: 0 auto;
    max-width: 26em;
    width: 100%;
  }

  &_wide {
    width: 100vw;
    padding-left: $header-width;
  }
}

// Columns
.columns.show-sidebar {
  padding-right: $sidebar-width;
}

.column_app {
  width: $header-width;
  flex-shrink: 0;
}

.column_content {
  flex: 1;
  display: flex;
}

.column_details {
  @include clearfix;
  flex-shrink: 0;
  position: relative;
  width: $details-width;
}

.column_result {
  flex: 1;
}
