.container {
  &_narrow {
    padding: $padding;
    margin: 0 auto;
    max-width: $narrow-width;
    width: 100%;
  }

  &_wide {
    max-width: 70em;
    margin: 0 auto;
    padding: 1em $padding $padding;
  }
}

.column {
  flex: 1;
}
