.row {
  display: flex;

  + .row {
    margin-top: 2em;
  }
}

.row__card {
  font-size: 0.4em;
  position: relative;
  cursor: pointer;
  float: right;

  &:hover::after {
    content: "Options";
    color: white;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    line-height: $feedback-card-size / 3;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba($color-gray-mid, 0.8);
    z-index: 1;
    border-radius: $border-radius;
  }
}

.row__actions {
  position: absolute;
  top: 0;
  left: 1em;
  background-color: $color-gray-dark;
  z-index: 10;
  border-radius: $border-radius;
  padding: 0.5em;
  width: auto;
}

.row__action {
  display: block;
  padding: 0.25em 0.5em;
  color: $color-gray-light;
  border-radius: 2px;
  white-space: nowrap;

  &:hover {
    background-color: $color-brand;
    color: $color-gray-light;
    text-decoration: none;
  }
}

.row__body {

}


// Columns
.column_details {
  width: 9em;
  flex-shrink: 0;
  position: relative;
  @include clearfix;
}

.column_result {
  flex: 1;
}
