.row {
  display: flex;

  + .row {
    margin-top: 2em;
  }
}

.row__title {
  font-size: 1em;
  font-weight: bold;
}

.row__actions {
  display: none;
}

.row__action {
  display: block;
}

.row__body {

}


// Columns
.column_details {
  width: 9em;
  flex-shrink: 0;
  position: relative;
  @include clearfix;
}

.column_result {
  flex: 1;
}
