.row {
  display: flex;

  + .row {
    margin-top: 1em;
  }
}

.row__card {
  font-size: 0.4em;
  position: relative;
  cursor: pointer;

  &:hover::after {
    content: "View";
    color: white;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    line-height: $card-size / 3;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba($color-gray-mid, 0.8);
    z-index: 1;
    border-radius: $border-radius;
  }

  .card__name {
    font-size: 3em;
  }
}

.row__body {

}
