.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  width: $sidebar-width;
  padding: 1em;
  z-index: 99;
  background-color: $color-gray-light;
  border-left: 1px solid $sidebar-border-color;
}

.sidebar__container {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidebar__card {
  border: 0;
  border-radius: 0;
  position: relative;
  width: $sidebar-width;
  height: $sidebar-width;
}
