.sidebar {
  position: fixed;
  top: $header-padding;
  right: $header-padding;
  bottom: $header-padding;
  background-color: white;
  width: $sidebar-width - $header-padding;
  border-radius: $border-radius;
  padding: 1em;
  z-index: 99;
  background-color: $color-gray-light;
  border: 1px solid $sidebar-border-color;
  overflow: hidden
}

.sidebar__container {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidebar__card {
  border: 0;
  border-radius: 0;
  position: relative;
  width: $sidebar-width;
  height: $sidebar-width;
}

.sidebar__header {
  background-color: $color-gray-lighter;
  padding: 1em;
  border-bottom: 2px solid $sidebar-border-color;
}

.sidebar__title {
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin: 0;
}

.sidebar__toggle {
  position: fixed;
  top: 1.25em;
  right: 1.25em;
  left: auto;
  z-index: 999;
}

.new-employee__card {
  position: relative;
}
