$tab-border-width: 4px;

.tab-container {
  border-bottom: $tab-border-width solid $color-gray-light;
  padding: 0 $padding;
  background-color: $color-gray-lighter;
  display: flex;
}

.tab {
  // margin-right: 1em;
  font-weight: 600;
  line-height: 3.5;
  color: $color-brand-light;
  // display: inline-block;
  margin-bottom: -($tab-border-width);
  border-bottom: $tab-border-width solid transparent;
  cursor: pointer;
  flex: 1;
  text-align: center;

  &:hover {
    color: $color-brand;
  }

  &.active-tab {
    border-color: $color-brand;
    color: $color-brand;
  }
}
