@import "helpers";
@import "base";
@import "bootstrap-shim";
@import "drawer";
@import "feedback-cards";
@import "feedback-results";

.null {
  text-align: center;
  font-weight: bold;
}

.avatar {
  display: block;
}

.dropdown__background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header {
  @include clearfix;
  color: #999;
  padding: 1em 0;
}

.header__brand {
  float: left;
}

.header__session {
  float: right;
}

.breadcrumbs {
  margin: 1em 0;
  display: flex;
}

.breadcrumb {
  text-align: center;
  flex: 1;

  &.is-selected {
    font-weight: bold;
  }
}

.dropzone {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &:hover,
  &.active {
    background-color: rgba(white, 0.7);

    &:after {
      content: "Upload new image";
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;
      transform: translateY(-50%);
      font-weight: bold;
    }
  }
}
